html {
    height: 100%;
    font-family: sans-serif;
}

header {
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}

a{
    text-decoration: none;
}
h1, h2, h3{
    font-family: sans-serif;
}
h1 {
    font-size: 34px;
}
h2{
    font-size: 30px;
    color: #999999;
}
h3{
    font-size: 28px;
}

img{
    display: block;
    margin: 0 auto;
    
}
.nav{

    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

li{
   list-style: none;
}
.menuTable{
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin: 0 auto;
}
.activeTable{
  text-align: left;  
  font-weight: bold;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: sans-serif;
  width: 300px;
  padding: 10px;
  font-size: 30px;

}
.searchHead{
    font-size: 30px;
   
}

.search {
      padding-top: 18px;
      font-size: 30px;
      padding: 7px;
      margin-bottom: 20px;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
}
.card2{
  text-align: left;  
  display: block;
  align-items: center;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  position: relative;
}

.btn{
  color: grey;
  font-weight: bolder;
  text-align: center;
  width: 170px;
  height: 170px;
  font-size: 15px;
  border-style:  none;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}

.ui-datatable.webTable th,td,tr{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    width: auto;
    height: auto;
}
