html {
  height: 100%;
}

h1, h2, h3 {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 30px;
  color: grey;
}

h3 {
  font-size: 24px;
}

header {
  padding-top: 5px;
  display: block;
  border: 2px solid red;
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 15px;
}

img{
  max-width: 100%;
  margin:auto;
  display: block;
}

.logo-img {
  height: 100px;
  width: 75px;
  margin: auto;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: block;
  border: 2px solid red;
  text-align: center;
  margin: auto;
  position: relative;
  padding-top: 15px;
  margin-bottom: 30px;
}

.form {
     
  padding-top: 5px;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  text-align: center;
  padding-bottom: 10px;
}
.cButton{
  display: block;
  font-size: 14px;
  text-align: center;
    
}

.aform {
  justify-content: center;
  padding-top: 5px;  
  text-align: center;
  font-size: 16px;
  display: flex;
  border: 2px solid red;
  padding-bottom: 10px;
}

.card {
  display: block;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: fit-content;
  position: relative;
}
a:link {
  text-decoration: none ;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
table{
  table-layout: fixed; width: auto;
  color: white;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  color: grey;
  font-weight: bolder;
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 14px;
  border-style:  none;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}

li{
    margin: auto;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    list-style: none;
}